.footer {
    background: linear-gradient(180deg, rgba(39, 38, 39, 0) 0%, rgba(34, 34, 36, 0.76) 32.43%, rgba(31, 31, 34, 0.81) 54.41%, #181A1E 100%);
}
.sell_leftBlock_sub_soloCard_body {
    background: linear-gradient(135deg, #6E6F70 15.90%, #ABABAC 50.49%, #757676 83.64%);
}
.sell_leftBlock_sub_soloCard_body_mobile {
    background: linear-gradient(135deg, #6E6F70 15.90%, #ABABAC 50.49%, #757676 83.64%);
}
@media (min-width: 1900px) {
    .sell_skins_mobileBlock_myInventoryBlock {
        display: none;
    }
}

@media (max-width: 1899px) {
    .arrows_more {
        display: none;
    }
    .sell_erorr_rightBlock {
       display: none;
    }
    /*.sell_erorr_rightBlock {
        margin-left: auto;
        margin-right: auto;
    }*/
    .sell_erorr_leftBlock {
        margin-left: auto;
        margin-right: auto;
    }
    /*.sell_erorr_leftBlock {
        display: none;
    }*/
    .sell_erorr {
        margin-top: 40px;
    }
    .sell_skins_mobileBlock_myInventoryBlock {
        display: block;
    }
    /*.sell_skins_mobileBlock_sellSkinsBlock {
        display: block;
    }*/
}

@media (max-width: 1200px) {
    .sell_erorr_leftBlock {
        margin-left: 35px;
        margin-right: 33px;
    }
    .sell_erorr {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 1169px) {
    .sell_erorr_leftBlock {
        width: 100%;
    }
    .sell_erorr_leftBlock_header_mobile {
        display: flex;
    }
    .sell_erorr_leftBlock_header {
        display: none;
    }
    .sell_leftBlock_cards {
        display: none;
    }
    .sell_erorr_leftBlock {
        height: 600px;
    }
    .sell_leftBlock_sub_cards_mobile  {
        height: 508px;
    }
}

@media (min-width: 1170px) {
    .sell_erorr_leftBlock_header_mobile {
        display: none;
    }
    .sell_leftBlock_sub_cards {
        display: grid;
    }
    .sell_leftBlock_cards_mobile {
        display: none;
    }
}

@media (max-width: 810px) {
    .sell_leftBlock_sub_cards_mobile {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 675px) {
    .sell_erorr_rightBlock {
        margin-left: 35px;
        margin-right: 33px;
    }
    .sell_erorr_rightBlock_footer {
        width: 100%;
        margin-left: 0px;
    }
}

@media (max-width: 666px) {
    .sell_leftBlock_sub_cards_mobile {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 639px) {
    .mobile_sub_footer_items_exchange {
        margin-top: 50px;
    }
    .sell_rightBlock_cards {
        display: none;
    }
}

@media (min-width: 640px) {
    .sell_rightBlock_cards_mobile {
        display: none;
    }
}

@media (max-width: 525px) {
    .sell_leftBlock_sub_cards_mobile {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 460px) {
    .sub_footer {
        justify-content: center;
    }
    .contact {
        margin-top: 40px;
    }
    .sub_contact {
        justify-content: center;
    }
}