.footer {
    background: linear-gradient(180deg, rgba(39, 38, 39, 0) 0%, rgba(34, 34, 36, 0.76) 32.43%, rgba(31, 31, 34, 0.81) 54.41%, #181A1E 100%);
}
.transactions_main_block {
    background: rgba(44, 47, 53, 0.85);
}
.transactions_sub_cardsMan {
    background: linear-gradient(112.9deg, #6E6F70 15.9%, #ABABAC 50.49%, #757676 83.64%);
}
.transactions_sub_cardsCase {
    background: linear-gradient(112.9deg, #6E6F70 15.9%, #ABABAC 50.49%, #757676 83.64%);
}
.transactions_sub_cardsCase_mobile {
    background: linear-gradient(112.9deg, #6E6F70 15.9%, #ABABAC 50.49%, #757676 83.64%);
}
@media (max-width: 1919px) {
    .transactions_main_block {
        width: 1350px;
    }

}
@media (max-width: 1794px) {
    .transactions_all {
        justify-content: center;
        margin-top: 50px;
    }
    .transactions_main {
        margin-top: 50px;
        margin-right: 50px;
    }

}
@media (max-width: 1499px) {
    .transactions_main_block {
        width: 100%;
        height: auto;
        padding-bottom: 35px;
    }
}
@media (max-width: 914px) {
    .transactions_main_block_filter {
        margin-top: 20px;
    }
}
@media (max-width: 767px) {
    .transactions_main_block_filter {
        margin-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .transactions_main_block_filter_text {
        font-size: 10px;
    }
    .transactions_main_block_filterGame {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 8px;
    }
    .transactions_main_block_filterGame_text {
        font-size: 10px;
    }
}
@media (max-width: 585px) {
    .mobile_sub_footer_items_exchange {
        margin-top: 50px;
    }
    .transactions_main_block_searchInput {
        width: 100%;
    }
    .transactions_main_block {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 485px) {
    .transactions_main_block {
        margin-top: 30px;
    }
    .transactions_main_basicText {
        text-align: center;
    }
    .transactions_main_block_searchInput {
        padding-left: 45px;
        padding-right: 45px;
    }
    .search {
        width: 16px;
        height: 16px;
    }
    .transactions_main_block_searchInput::placeholder {
        font-size: 12px;
    }
    .transactions_pagination {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 460px) {
    .sub_footer {
        justify-content: center;
    }
    .contact {
        margin-top: 40px;
    }
    .sub_contact {
        justify-content: center;
    }
}
@media (max-width: 456px) {
    .transactions_main_block_filter {
        margin-left: auto;
    }
}
